<template>
  <v-app>
    <v-card class="overflow-hidden">
      <NavBar />
      <v-sheet
        id="scrolling-techniques-7"
        class="overflow-y-auto"
        max-height="100vh"
      >
        <v-container style="height: 100vh">
          <News />
          <Footer />
        </v-container>
      </v-sheet>
    </v-card>
  </v-app>
</template>

<script>
// @ is an alias to /src
import NavBar from "@/components/NavBar.vue";
import News from "@/components/News.vue";
import Footer from "@/components/Footer.vue";

export default {
  name: "Home",
  components: {
    NavBar,
    News,
    Footer,
  },
};
</script>