<template>
  <v-app-bar
    absolute
    color="white"
    elevate-on-scroll
    scroll-target="#scrolling-techniques-7"
  >
    <v-app-bar-nav-icon
      class="hidden-md-and-up"
      @click="drawer = true"
    ></v-app-bar-nav-icon>
    <v-toolbar-title>News API</v-toolbar-title>

    <v-spacer></v-spacer>

    <v-btn
      class="hidden-sm-and-down"
      small
      :color="selectedCategory === c.title ? '' : 'transparent'"
      elevation="0"
      v-for="c in categories"
      :key="c.title"
      @click="filterByCategory(c.title)"
      >{{ c.title }}</v-btn
    >

    <v-navigation-drawer height="100vh" v-model="drawer" absolute temporary>
      <v-list nav dense>
        <v-list-item-group
          v-model="group"
          active-class="deep-purple--text text--accent-4"
        >
          <v-list-item
            v-for="c in categories"
            :key="c.title"
            elevation="0"
            :color="selectedCategory === c.title ? '' : 'transparent'"
            @click="filterByCategory(c.title)"
          >
            <v-list-item-title>{{ c.title }}</v-list-item-title>
          </v-list-item>
        </v-list-item-group>
      </v-list>
    </v-navigation-drawer>

    <v-text-field
      @keyup.enter.native="searchFilter"
      class="shrink ml-5 mt-5"
      dense
      outlined
      label="search"
      append-outer-icon="mdi-magnify"
      v-model="search"
    ></v-text-field>
  </v-app-bar>
</template>

<script>
import event from "@/main.js";
export default {
  data() {
    return {
      drawer: false,
      group: null,
      search: "",
      selectedCategory: "all",
      categories: [
        {
          title: "all",
        },
        {
          title: "business",
        },
        {
          title: "entertainment",
        },
        {
          title: "general",
        },
        {
          title: "health",
        },
        {
          title: "science",
        },
        {
          title: "sports",
        },
        {
          title: "technology",
        },
      ],
    };
  },
  methods: {
    filterByCategory(filter) {
      this.selectedCategory = filter;
      event.$emit("category-changed", filter);
    },
    searchFilter() {
      event.$emit("search", this.search);
      this.search = "";
    },
  },
  created() {
    event.$on("searched-by-keyword", () => {
      this.selectedCategory = "all";
    });
  },
};
</script>

<style scoped>
.v-text-field--outlined {
  width: 250px;
  margin-top: 22px;
  margin-left: 20px;
}
</style>