<template>
  <v-lazy
    v-if="latest"
    :options="{
      threshold: 1,
    }"
    transition="fade-transition"
  >
    <v-card rounded>
      <v-img
        :src="newsData.urlToImage"
        :lazy-src="newsData.urlToImage"
        class="white--text align-end text-left"
        gradient="to bottom, rgba(0,0,0,.1), rgba(0,0,0,.8)"
        :height="height"
      >
        <v-card-title v-text="newsData.title"></v-card-title>
        <v-card-subtitle class="white--text">
          {{ newsData.description }}
        </v-card-subtitle>
        <v-btn
          color="orange lighten-2"
          text
          :href="newsData.url"
          target="blank"
        >
          Explore
        </v-btn>
      </v-img>
    </v-card>
  </v-lazy>
  <v-lazy
    v-else
    :options="{
      threshold: 1,
    }"
    transition="fade-transition"
  >
    <v-card class="mx-auto" max-width="400" height="500">
      <v-img
        :src="newsData.urlToImage"
        :lazy-src="newsData.urlToImage"
        height="200px"
      ></v-img>
      <v-card-title>
        {{ newsData.title }}
      </v-card-title>

      <v-card-subtitle style="text-overflow: ellipsis; overflow: hidden">
        {{ newsData.description }}
      </v-card-subtitle>
      <v-card-actions style="position: absolute; bottom: 0">
        <v-btn
          color="orange lighten-2"
          text
          :href="newsData.url"
          target="blank"
        >
          Explore
        </v-btn>

        <v-spacer></v-spacer>
      </v-card-actions>
    </v-card>
  </v-lazy>
</template>

<script>
export default {
  // props: ["newsData", "height", "latest"],
  props: {
    newsData: Object,
    height: String,
    latest: Boolean,
  },
};
</script>