<template>
  <v-container class="mt-10">
    <h1 class="">Latest News</h1>
    <v-row v-if="news.length">
      <v-col lg="4" md="4" sm="12">
        <NewsCard :newsData="news[0]" height="900px" :latest="true" />
      </v-col>
      <v-col lg="8" md="8" sm="12">
        <v-row>
          <v-col lg="12" md="12" sm="12">
            <NewsCard :newsData="news[1]" height="440px" :latest="true" />
          </v-col>
        </v-row>
        <v-row>
          <v-col lg="6" md="6" sm="12">
            <NewsCard :newsData="news[2]" height="440px" :latest="true" />
          </v-col>
          <v-col lg="6" md="6" sm="12">
            <NewsCard :newsData="news[3]" height="440px" :latest="true" />
          </v-col>
        </v-row>
      </v-col>
    </v-row>
    <v-row v-if="news.length">
      <div class="text-right" style="width: 100%">
        <h5 class="caption">more stories ></h5>
        <v-divider></v-divider>
      </div>
      <v-col lg="3" md="6" sm="6" v-for="(n, i) in news" :key="n.title">
        <NewsCard v-if="i > 3" :newsData="n" />
      </v-col>
    </v-row>
    <v-card v-if="news.length" v-intersect="loadMore"></v-card>
  </v-container>
</template>

<script>
import event from "@/main.js";
import NewsCard from "./NewsCard";
export default {
  components: {
    NewsCard,
  },
  data() {
    return {
      API_KEY: process.env.VUE_APP_NEWS_API_KEY,
      news: [],
      page: 1,
      selectedCategory: "all",
      searchKeyword: "",
    };
  },
  computed: {
    formatUrl() {
      let url = `https://newsapi.org/v2/everything?q=all&pageSize=20&page=${this.page}&apiKey=${this.API_KEY}`;
      if (this.selectedCategory !== "all") {
        url = `https://newsapi.org/v2/top-headlines?category=${this.selectedCategory}&pageSize=20&page=${this.page}&apiKey=${this.API_KEY}`;
      } else if (this.searchKeyword !== "") {
        url = `https://newsapi.org/v2/everything?q=${this.searchKeyword}&pageSize=20&page=${this.page}&apiKey=${this.API_KEY}`;
      }
      return url;
    },
  },
  methods: {
    getAllNews() {
      const url = this.formatUrl;
      this.$http.get(url).then((response) => {
        this.news = response.data.articles;
      });
    },
    filterNewsByCategory() {
      let url = this.formatUrl;
      this.$http.get(url).then((response) => {
        this.news = response.data.articles;
      });
    },
    searchByKeyword() {
      const url = this.formatUrl;
      this.$http.get(url).then((response) => {
        this.news = response.data.articles;
      });
    },
    loadMore() {
      this.page += 1;
      let url = this.formatUrl;
      this.$http.get(url).then((response) => {
        this.news = [...this.news, ...response.data.articles];
      });
    },
  },
  mounted() {
    this.getAllNews();
  },
  created() {
    event.$on("category-changed", (filter) => {
      this.page = 1;
      this.selectedCategory = filter;
      this.searchKeyword = "";
      this.filterNewsByCategory(filter);
    });

    event.$on("search", (keyword) => {
      this.searchKeyword = keyword;
      this.selectedCategory = "all";
      event.$emit("searched-by-keyword", this.search);
      this.searchByKeyword(keyword);
    });
  },
};
</script>